@CHARSET "UTF-8";

.header{box-shadow:1px 0 5px #666;}
.header .main-menu{width:1200px;height: 72px;overflow: hidden;margin: 0 auto;}
.header .main-menu .home{float: left;margin-top:15px;margin-right: 91px;}
.header .main-menu ul{padding: 26px 0 25px 0;overflow: hidden;float: left;}
.header .main-menu ul li:FIRST-CHILD{margin-right: 110px;}
.header .main-menu ul li{float: left;margin-right: 91px;font-weight: bold;font-size:16px;}
.header .main-menu ul li.on{color: #ff8435;}
.header .main-menu .language-wrap{border: 1px solid #ddd;padding: 4px 0px 1px 10px;margin-top:26px;display: inline-block;font-size:12px;color: #656565;}
.header .main-menu .language-wrap>span{background: url('../select_arrow.png');text-indent: 9999px;background-repeat: no-repeat;width:10px;height: 10px;display: inline-block;margin-left: 13px;margin-top:2px;vertical-align: middle;}

.header .sub-menu{width:1200px;overflow: hidden;padding:27px 0 13px;margin: 0 auto;}
.header .sub-menu ul:FIRST-CHILD {margin-left: 241px;width:135px;}
.header .sub-menu ul{float: left;width:149px;}
.header .sub-menu ul li{padding-bottom: 23px;font-size:13px;color: #656565;}
.header .sub-menu ul li.on{font-weight: bold;color: #000000;text-decoration: underline;}

